<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <style>
        label{
            font-size:1em;
            color:rgb(60, 22, 216);
            width:200;
        }
        body{
        	background-color:rgb(174, 224, 247);
			text-align:center;
        }
        .heading{
        	color:rgb(27, 29, 160);
			text-align:center;
            font-size:1.5em;
		}
        .reminder{
        	color:rgb(95, 95, 95);
        }
		ol{
   			padding:0;
    		list-style-position:inside;
    		border:1px solid #ddd;
		}
		li {
			padding:6px;
			border-bottom:1px solid #ddd;
		}
		li:last-child{
			border-bottom:none;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Details - Product Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/home">Back to home</button>
    </form>
    <div>
    	<%= msg %>
    	<ol>
        	<% for (var i of foundProduct) { %>
        	<li>
            	id: <%= i.id %><br>
            	name: <%= i.name %><br>
            	description: <%= i.description %><br>
            	category: <%= i.category %><br>
        		price:$ <%= i.price %>
        	</li>
        	<% } %>
    	</ol>
    </div>
    <form>
        <button type="submit" formaction="/update">Update</button>
        <button type="submit" formaction="/delete">Delete</button>
    </form>
</body>
</html>

    
